.title {
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	color: #3f3f3f;
	margin-left: 16px;
	margin-top: 10px;
}

.content {
	padding: 16px;
	background-color: #fff;
	border-radius: 8px;
	background-color: rgb(220, 233, 255);
}
