/* Login.css */

/* 页面整体样式 */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(35, 39, 65);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 表单容器 */
.formContainer {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7); /* 保持透明度 */
  width: 100%; /* 使表单宽度可自适应 */
  max-width: 500px; /* 设置最大宽度 */
  height: auto; /* 高度自适应内容 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px; /* 增加内边距 */
  border-radius: 10px;  /* 圆角效果 */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* 阴影效果 */
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 登录标题样式 */
.logintitle {
  text-align: center;
  font-size: 32px;
  color: white;
  font-family: 'Arial', sans-serif;
  margin-bottom: 20px;
}

/* 输入框和按钮 */
.ant-form-item {
  width: 100%;
  margin-bottom: 20px;
}

.ant-input, .ant-btn {
  width: 100%; /* 使输入框和按钮宽度自适应 */
}

/* 响应式设计，适应小屏幕 */
@media (max-width: 600px) {
  .formContainer {
    width: 80%;
    padding: 20px;
  }

  .logintitle {
    font-size: 26px; /* 标题字体大小适应屏幕 */
  }
}

@media (max-width: 400px) {
  .formContainer {
    width: 90%;
    padding: 15px;
  }

  .logintitle {
    font-size: 20px; /* 标题字体大小适应屏幕 */
  }
}
